<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>The eLibrary - a Spring Security Demo webapp - Sign In</title>
</head>
<body>
    <div layout:fragment="content" style="padding-top:1em;" class="container">
        <h3>Sign In</h3>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <div class="card border-secondary mb-4" style="max-width: 60rem;">
                        <div class="card-header">Use your onlinemarket Account</div>
                        <div class="card-body">
                            <h4 class="card-title">Sign In with your onlinemarket Account</h4>
                            <p class="card-text">
                                Enter your onlinemarket Username and Password below, to sign in.
                            </p>
                            <div>
                                <form name="formLogin" th:action="@{/onlinemarket/public/login}" method="post">
                                    <div th:if="${param.error}" class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        Invalid username and/or password.
                                    </div>
                                    <div th:if="${param.logout}" class="alert alert-dismissible alert-primary">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        You have been signed out.
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input id="username" name="username" type="text" class="form-control" autofocus="autofocus"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input id="password" name="password" type="password" class="form-control"/>
                                    </div>
                                    <div style="float:right;">
                                        <a href="/onlinemarket/public/home" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                                        <button id="btnSubmit" type="submit" class="btn btn-outline-success">Sign In</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block layout:fragment="footer"></th:block>

</body>
</html>
